body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(11, 12, 58);
    color: white;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#generate_div, #validate_div {
    width: 400px;
    margin: 15%;
}

h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

#number {
    width: 220px;
    height: 40px;
    border-radius: 6px;
    padding-left: 10px;
}

.output {
    margin-top: 10px;
}