body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(11, 12, 58);
    color: white;
}

#generate_div > * {
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#validate_div > * {
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
