{% extends "layout.html" %}
{% set active_page = "adv_generator" %}

{% block body %}

    <div id="adv_generator">

        <h1>Advanced Credit Card Generator</h1>

        <form id="file_generator" action="/file_generator" method="POST">
    
            <select name="brand" id="brand" title="Select Brand">
                <option value="Random">Random</option>
                {% for brand in brands %}
                    <option value="{{ brand.name }}">{{ brand.name }}</option>
                {% endfor %}
            </select>
        
            <input name="count" id="count" type="number" placeholder="Number of entries" autocomplete="off"  min="1" max="10000">
        
            <select name="data_format" id="data_format" title="Data Format">
                {% for file_format in file_formats %}
                    <option value="{{ file_format }}">{{ file_format }}</option>
                {% endfor %}
            </select>
        
            <input type="submit" value="Generate" class="btn btn-success" id="gen_button">
                
        </form>
        
        <textarea id="textarea"></textarea>
        
        <button type="button" class="btn btn-success" id="download">Download</button>
        

    </div>
    

{% endblock %}