{% extends "layout.html" %}
{% set active_page = "adv_generator" %}

{% block body %}

    <form id="advanced" action="/adv_generator" method="POST">
        
        <h1 class="title">Advanced Credit Card Generator</h1>

        <select name="brand" id="brand" title="Select Brand">
            <option value="Random">Random</option>
            {% for brand in brands %}
                <option value="{{ brand.name }}">{{ brand.name }}</option>
            {% endfor %}
        </select>

        <input name="count" id="count" type="number" placeholder="Number of entries" autocomplete="off">

        <select name="data_format" id="data_format" title="Data Format">
            <option value="JSON">JSON</option>
            <option value="XML">XML</option>
            <option value="CSV">CSV</option>
        </select>

        <input type="submit" value="Generate" class="btn btn-success" id="gen_button">
        
    </form>

    <textarea></textarea>

{% endblock %}