<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <title>Credit</title>
        <script src="../static/js/script.js"></script>
    </head>

    <body>
        <h1>Credit card generator</h1>
        <form action="/generate" method="POST">

            <select name="brand">
                <option>Random</option>
                {% for brand in brands %}
                    <option value="{{ brand.name }}">{{ brand.name }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Generate">

        </form>
        <div id="generatedNumber"></div>

        <h1>Credit card validator</h1>
        <form action="/validate" method="POST">

            <input name="number" type="text" placeholder="Card Number" autofocus>
            <input type="submit" value="Validate">
            
        </form>
        <div id="validatedNumber"></div>
    </body>
</html>